.home-wrapper {
  position: relative;
  min-height: 100vh;
}

.body-content {
  margin-top: 2.5em;
  padding-bottom: 2.5rem;
  display: block;
}

@media (min-width : 650px) {
  .body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
