.home-wrapper {
  position: relative;
  height: 100%;
}

.body-content {
  margin-top: 2.5em;
  padding-bottom: 2.5rem;
  min-height: 100vh;
}

.card-tile-container {
  display: block;
}

@media (min-width : 650px) {
  .card-tile-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
