.header-wrapper {
  text-align: center;
  padding: 16px 0;
  box-shadow: 0 2px 20px rgba(0,0,0,.5);
}

.header-logo {
  animation: header-logo-spin infinite 2s linear;
  height: 80px;
}

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
