.input-field-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-field-label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: .25em;
  color: #2f4f4f;
}

.input-field-wrapper input {
  height: 30px;
  width: 100%;
}

.input-field-wrapper input::placeholder {
  padding-left: .5em;
}